 /* Контейнер гриду */
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 колонок */
  gap: 16px;                              /* відстань між картками */
  padding: 16px;
  list-style: none;                        /* прибираємо маркери ul */
  margin: 0;
}

/* Картка фільму */
.card {
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
   height: 300px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.image {
  width: 100%;
  height: auto;
  display: block;
}

/* Назва фільму під картинкою */
.title {
  padding: 8px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

